{% extends 'intra/base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
<div class="col-sm-6">

      {% if creation %}<h3 class="text-center phrase">Votre compte a été créé !</h3>
      {% else %}<h3 class="text-center phrase"> Chargé ou simple membre, rejoins nous !</h3>


      <form action="{% url "rejoindre" %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit" />
      </form>
      {% endif %}

    </div>
</div>

{% endblock %}
